/*
body {  
  background-color: #f5f5f5;
}*/
.home {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  align-items: top;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;

  h2 {
    margin-top: 3em;
    margin-bottom: 0px;
  }

  .aboutme {
    min-width: 280px;
    width: 80%;
    margin: 30px 0px;
    /*width: 600px;*/
    /*max-width: 310px;*/
    /*min-height: 400px;*/
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*position: fixed;*/
    top:0;
    left: 0;
  }
  .projects {
    /*flex: 1 1 55%;*/
    width: 86%;
    padding: 24px 0px;
    /*padding-left: 310px;*/
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;

  }
  .contact {
    display: flex;
    /*margin-bottom: 100px;*/
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .thumbnail {
    flex: 1 1 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 16px 8px 8px 8px;
    /*height: 300px;*/
    background-position: center center;
    background-size: cover;
    /*border: 1px solid #dadada;*/
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    .pagelink {
      width: 100%;
    }

    .pic {
      min-width: 100%;
      height: 260px;
      background-position: center center;
      background-size: cover;
      border-radius: 4px;
      /*box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.14);*/
    }
  }


  .thumbnail:hover {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
   }

  .social {
    height: 24px;
    width: 24px;
    margin: 4px 8px;
    display: inline-block;
    background-size: cover;
  }
  .social:first-child {
    margin-left: 0;
  }

  .mypic {
    width: 55%;
    height: auto;
    margin: 40px 20px 16px 20px;
  }
  .myintro {
    width: 670px;
    color: #333;
    padding-top: 32px;
    h3 {
      margin-top: 0px;
    }
    b {
      color: #1EAEDB;
      font-weight: 400;
    }
    p {
      margin-bottom: 1em;
      font-size: 1em;
    }
  }

  .cardtitle {
    /*position: absolute;*/
    text-decoration-line: none;
    font-size: 16px;
    /*font-weight: 700;*/
    padding: 8px 8px 0px 8px;
    color: #111;

    .caption {
      font-size: 14px;
      font-weight: 400;
      color: #888;
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }
  img {
    width: 400px;
    height: 300px;
  }
}

.about {
  padding: 16px 8%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  max-width: 1600px;
  margin: auto;
  div {
    min-width: 330px;
  
  }
  .mypic {
    height: auto;
      padding: 5%;
  /*margin: 40px 20px 16px 20px;*/
  }
  .myintro {
    color: #333;
    padding: 5%;
    h3 {
      margin-top: 0px;
    }
    p {
      margin-bottom: 1em;
    }
  }
  button {
    margin-top: 1.5em;
    color : #333;
    border: 1px solid #bbb;
  }
/*  a {
    box-shadow: 0 1px #555;
    color:#333;
  }*/

}


/* For devices small than 680px */
@media (max-width: 680px) {
  .home {
    height: 100%;

    .aboutme {
      flex-grow: 1 auto;
      max-width: 1000px;
      position: relative;
    }
    .myintro {
      width: 90%;
    }
    .projects {
      padding-left: 0;
      width: 96%;
    }
  }
}


