.main {
  flex-direction: column;
  display: flex;
  padding: 20px;
}
.pdf {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    font-size: 24px;
    color: orange;
  }
  .pager{
    display: flex;
    flex-direction: row;
    list-style: none;
    
    li {
      display: inline;
    }
  }

}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  margin-left: 0;
  margin-right: 0;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.centercontent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact {
  display: flex;
  align-items: flex-end;

  p {
    margin-bottom: 5px;
  }
}
.social {
  height: 28px;
  width: 28px;
  margin: 0px 8px;
  display: inline-block;
  background-size: cover;
  transition: 300ms;
}
.social:first-child {
  margin-left: 10px;
}

  #twitter {
    background-image: url('../assets/thumbnail/twitter.png');
  }
  #github {
    background-image: url('../assets/thumbnail/github.png');
  }
  #medium {
    background-image: url('../assets/thumbnail/medium.png');
  }
  #github:hover {
    background-image: url('../assets/thumbnail/github1.png');
  }
  #medium:hover {
    background-image: url('../assets/thumbnail/medium1.png');
  }
  #twitter:hover {
    background-image: url('../assets/thumbnail/twitter1.png');
  }
  #linkedin {
    background-image: url('../assets/thumbnail/linkedin.png');
  }
  #linkedin:hover {
    background-image: url('../assets/thumbnail/linkedin1.png');
  }


.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 0;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

img {
  width: 100%;
  max-width: 100%;
}

img.shadow {
  box-shadow: 0px 1px 4px #ccc;
}

.divider {
  border-left: 1px solid #ddd;
  padding: 0 12px;
}
.divider:first-child {
  border: none;
}

.closebtn {
  text-decoration-line: none;
  font-size: 1.5em;
  right: 16px;
  top: 16px;
  width: 48px;
  height: 48px;
  line-height: 32px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  transition: 300ms;
  z-index: 2;
}

.closebtn:hover {
  background-color: #eee;
  border-radius: 24px;

  svg{
    fill:  #666;
    stroke: 5px;
  }
}


.wrapper {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.iframewrapper {
  width: 100%;
  height: 100vh;
}

.cityvizdemo {
  padding: 0 10%;
}
section {
  margin-top: 0.75em;
  margin-bottom: 2.5em;
  p,h3,h4,h5,ul,h6 {
    padding: 0 4%;
  }
  .highlight {
    font-size: 1.25em;
    font-weight: 400;
    list-style: none;
    padding: 0 12%;
    /*border-left: 1px solid green;*/
    /*text-transform: uppercase;*/
    /*line-height: */
  }
  li {
    line-height: 1.5em;
    padding: 4px 0;
  }
  .compactlist li {
    line-height: 1.25em;
    padding: 0;
  }
/*  hr {
    width: 15%;
  }*/
}
.fullbg {
  background-color: #242944;
  margin-top: 2.5em;
  max-width: 3000px;
  padding: 4% 0px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  h4 {
    margin-top: 0;
  }
  p {
    color: #ddd;
  }
  div {
    flex-grow: 0;
    min-width: 300px;
  }
}

.exp {
  display: flex;
  flex-direction: row;
}

 .exp img {
  align-self: center;
  width: 80%;
  height: auto;
  margin-top: 10px;
}

figure {
  min-width: 200px;
  
}
figure.annotation {
  margin-top: -1.5em;
}
figure.centercaption {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -1.5em;
}

figurecaption {
  font-size: 16px;
  color: #042430;
  font-weight: 400;
  font-style: italic;
  align-self: center;
}
.emp {
  font-style: italic;
}

h1 { font-size: 4.0rem; line-height: 1.2;}
.titlesection,.titlewhitebg {
  width: 100%;
  height: auto;
  background-color: #222;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  justify-content: center;
  padding: 5% 5% 7% 5%;
  font-size: 18px;
  text-align: center;
  background-position: center center;
  background-size: cover;

  .headline {
    width: 60%;
  }

  h2 {
    margin-bottom: 40px;
    color: #ffcc00;
  }
  .secondary {
    margin-top: 50px;
    color: #aaa;
    font-size: 12px;
  }

  p { 
    /*font-weight: 300;*/
    max-width: 560px;
    align-self: center;
  }
  img {
    width: 40%;
    height: 80%;
    /*position: fixed;*/
    /*zindex: -10;*/
  }
}
@media (min-width: 577px) {
  figure {
    /*border: 1px solid green;*/
    min-width: 520px;
    margin-top: 0em;
    margin-bottom: 3.75em;
  }
  
  .titlesection {
    padding: 8% 20% 7% 20%;
  }
  section {
    max-width: 1440px;
    p,h3,h4,h5,h6 {
      padding: 0;
    }
    ul,ol {
      padding: 0 6%;
    }
    
  }
}

.titlewhitebg {
  background-color: #fff;
  color: #333;
  padding-bottom: 0px;
  p { 
    max-width: 760px;
    align-self: center;
    margin-top: 2em;
  }

}

.grouptitle {
  width: 100%;
  height: auto;
  background-color: #031921;
  color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 8% 0% 10%;
  font-size: 18px;

  div {
    flex-grow: 0;
  }
  h2 {
    margin-bottom: 2em;
  }
}

.caption p{
  font-size: 14px;
}
blockquote {
  border-left: 3px black solid;
  font-style: italic;
  /*font-weight: 300;*/
  padding-left: 20px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
  /*margin-left: -23px;*/
}
.userstory {
  font-size: 1.55em;
  text-align: center;
  margin: 2.25em 0.25em 2em 0.25em;
  color: #f44336;
}
/*.userstory:before, .userstory:after; {
  content: "";
  margin: 0.75em auto;

  /*background-color: #999;*/
/*  height: 1px;
  width: 10%;
}*/
/*.userstory:before,  {
    font-family: georgia;
  content: open-quote;
  font-size: 3em;
  line-height: 0.3em;
  margin-left: -0.3em;
  vertical-align: -0.4em;
}
.userstory:after {
  font-family: georgia;
  content: close-quote;
  font-size: 3em;
  line-height: 0.3em;
  margin-left: 0em;
  vertical-align: -0.4em;
}*/

ul, ol{
  padding: 0px 6%;
}


.illustration {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  img {
    width: 50%;
    margin: auto;
    /*height: 30%;*/
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
    padding: 0 4%;
  }
}
.threelists {
  list-style: none;
  display: flex;
  justify-content: space-between;
}


video {
  border: 1px solid #ddd;
}

.summary {
  width: 100%;
  padding: 20px 0px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div {
    flex-grow: 0;
    display: inline-block;
    /*padding-right: 20px;*/
  }
}

.overview,.content {
  width: 100%;
  /*max-width: 1440px;*/
  font-size: 18px; 
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .side {
    padding-left: 6%;
    h5 {
        margin-top: 16px;
      }
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0px;
    /*color: #576DEB;*/
  }
  h3 {
    font-size: 32px;
    font-weight: 700;
  }

  h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0.4em;
  }
  h5 {
    font-size: 22px;
    color: #444450;
    font-weight: 700;
    /*text-transform: uppercase;*/
    margin-bottom: 0;
  }
  h6 {
    font-size: 18px;
    color: #222;
    font-weight: 700;
    margin-bottom: 1em;
  }
  p.source {
    font-size: 13px;
    color: gray;
  }
  p.question {
    padding: 0% 10% 5% 10%;
    font-size: 24px;
    color: #5565fd;
    /*line-height: 1.2;*/
  }
  span.quote {
    font-size: 56px;
    color: #D21C5B;
    margin-top: 0;
  }
  .sectiontitle {
    font-size: 15px;
    font-weight: 700;
    color:#444;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .actionbtn {
    margin-top: 2em;
    background-color: #07895f;
    color: white;
    border: none;
    a {
     color: white;
    }
  }
  .reportbtn {
    background-color: #5565fd;
    border: none;
    align-self: center;
    margin: 1em 0;
    color: white;
  }
  .reportbtn:hover {
    background-color: #252F6B;
  }
  .actionbtn:hover {
    opacity: 0.8;
  }
  .secondarybtn {
    margin-top: 0,5em;
    background-color: #fff;
    border: 1px solid #444;
    text-transform: none;
    height: 32px;
    font-size: 13px;
    padding: 8px 8px;
    line-height: 32px;
    letter-spacing: 0;
    height: auto;
    margin-right: 4px;
    a {
     color: #222;
    }
  }
  .secondarybtn:hover {
    background-color: #333;
     a {
     color: white;
    }
  }

  @media (max-width: 1000px) {
    .center {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .side {
      padding-left: 0;
    }

  }
}
.overview {
  width: 100%;
  max-width: 2400px;
  padding: 20px 0px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  div {
    flex-grow: 1;
    display: inline-block;
  }
  h5 {
    margin-bottom: 0.5em;
  }
}

.gallery {
  width: 100%;
  max-width: 1440px;
  padding: 30px 0;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  .sketch {
    width: 32%;
    height: 300px;
    min-width: 300px;
    /*border: 1px solid #ccc;*/
    box-shadow: 0px 1px 4px #ccc;
    /*width: auto;*/
    height: auto;

    img {
      height: 260px;
      width: auto;
      max-height: 100%;

    }
  }
  .side {
    padding: 0px 8px 16px 8px;
  }

}

.viewimg {
  width: 50%;
  flex: 0 0 auto;
}
.pagenav {
  height: 100%;
  flex: 1 0 240px;
}
.projectnav {
  background-color: #333;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
    button {
      border: none;
      color: white;
      font-size: 16px;
      margin-right: 16px;
      text-transform: none;
    }
    button:hover {
      font-size: 16px;
      color: #aaa;
    }

}

.navbtn {
  /*width: 82.6666666667%;*/
  display: flex;
  justify-content: flex-end;

}
.footer {
  /*background-color: #333;*/
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

